.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 50px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed{
    background-color: #FF9900;
    font-size: 21px;
    
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border: none;
    color: white;
    margin: 10px auto;
    
}